@{
    ViewData["Title"] = "Registrarse";
}

<main>
    <section class="Ingreso">
        <h1>Registrarse</h1>

        <form action='@Url.Action("Registrarse", "Account")' method="post" enctype="multipart/form-data">
            <input type="text" name="Usuario" placeholder="Ingresar nombre de usuario" required />
            <input type="text" name="Mail" placeholder="Ingresar mail" required />
            <input type="password" name="Contraseña1" placeholder="Ingresar contraseña" required />
            <input type="password" name="Contraseña2" placeholder="Ingresar de nuevo la contraseña" required />

            <p>Tipo:</p>
            <select name="Tipo" required>
                <option value="true">Registrarse como Servicio de Emergencia</option>
                <option value="false">Registrarse como Conductor</option>
            </select>

            @if (ViewBag.mailExiste)
            {
                <p>El usuario ingresado ya fue registrado anteriormente</p>
            }
            @if (!ViewBag.contraseñaCoincide)
            {
                <p>Ambas contraseñas no coinciden</p>
            }

            <button type="submit">Registrarse</button>

            <a href='@Url.Action("Login", "Account")'>Iniciar sesión si ya tenes cuenta</a>
        </form>
    </section>
</main>
