USE [master]
GO
/****** Object:  Database [REACT]    Script Date: 24/10/2025 15:30:59 ******/
CREATE DATABASE [REACT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REACT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\REACT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REACT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\REACT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REACT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REACT]
GO
/****** Object:  User [alumno]    Script Date: 24/10/2025 15:30:59 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Conductor]    Script Date: 24/10/2025 15:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] INT IDENTITY(1,1) NOT NULL,
	[Mail] VARCHAR(50) NOT NULL,
	[Contraseña] VARCHAR(50) NOT NULL,
	[Username] VARCHAR(50) NOT NULL,
	[Tipo] BIT NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) WITH (
	PAD_INDEX = OFF, 
	STATISTICS_NORECOMPUTE = OFF, 
	IGNORE_DUP_KEY = OFF, 
	ALLOW_ROW_LOCKS = ON, 
	ALLOW_PAGE_LOCKS = ON
) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Viajes](
	[Id] INT IDENTITY(1,1) NOT NULL,
	[IdUsuario] INT NOT NULL,
	[Estado] BIT NOT NULL,
	[Latitud] FLOAT NOT NULL,
	[Longitud] FLOAT NOT NULL,
 CONSTRAINT [PK_Viajes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) WITH (
	PAD_INDEX = OFF, 
	STATISTICS_NORECOMPUTE = OFF, 
	IGNORE_DUP_KEY = OFF, 
	ALLOW_ROW_LOCKS = ON, 
	ALLOW_PAGE_LOCKS = ON
) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Usuarios]
GO