         <button type="button" onclick="pedirUbicacion()">Comparar ubicación</button>



<form id="formUbicacion" action="/Home/CompararUbicacion" method="post">
    <input type="hidden" id="Latitud" name="Latitud">
    <input type="hidden" id="Longitud" name="Longitud">
</form>

<script>
function pedirUbicacion() {
    if (navigator.geolocation) {
        // Dispara el cartel del navegador para pedir permiso
        navigator.geolocation.getCurrentPosition(
            function (position) {
            document.getElementById("Latitud").value = position.coords.latitude;
            document.getElementById("Longitud").value = position.coords.longitude;
            // 📍 Llamamos al método del controller enviando el form
            document.getElementById("formUbicacion").submit();
            },
            function (error) {
                alert("No se pudo obtener la ubicación o fue denegada.");
            }
        );
    } else {
        alert("Tu navegador no soporta geolocalización.");
    }
}
</script>