@{
    ViewData["Title"] = "Particulares";
    bool? estadoUltimoViaje = ViewBag.estadoUltimoViaje as bool?;
    int? idViaje = ViewBag.idViaje as int?;
    string color = TempData["Color"] as string;
    var distancia = TempData["Distancia"];
}

<main>
    <section class="principal">
        <h1 class="title">Modo Particular</h1>

        @if (idViaje == null || estadoUltimoViaje == false)
        {
            <a href='@Url.Action("CrearViaje", "Home")' class="primary-button">Crear viaje</a>
        }
        else
        {
            <a href='@Url.Action("FinalizarViaje", "Home", new { IdViaje = idViaje })' class="secondary-button">Finalizar viaje</a>
            <button type="button" onclick="pedirUbicacion()" class="primary-button">Enviar ubicación</button>

            <form id="formUbicacion" action="/Home/CompararUbicacion" method="post">
                <input type="hidden" id="Latitud" name="Latitud">
                <input type="hidden" id="Longitud" name="Longitud">
                <input type="hidden" id="IdViaje" name="IdViaje" value="@ViewBag.idViaje">
            </form>
        }
    </section>

    @if (!string.IsNullOrEmpty(color) && distancia != null)
    {
        <section class="colores">
            <p>Distancia mínima: @distancia metros.</p>

            @if (color == "red")
            {
                <p>Estás muy cerca de un servicio de emergencia. Despejá el paso.</p>
            }
            else if (color == "yellow")
            {
                <p>Un vehículo de emergencia se aproxima. Mantené precaución.</p>
            }
            else
            {
                <p>No hay servicios de emergencia cerca por ahora.</p>
            }

            <p>Color: @color</p>
        </section>
    }
</main>

<script>
function pedirUbicacion() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function (position) {
                   const lat = position.coords.latitude.toString().replace('.', ',');
                   const lon = position.coords.longitude.toString().replace('.', ',');
                   
             document.getElementById("Latitud").value  = lat;
             document.getElementById("Longitud").value = lon;

                document.getElementById("formUbicacion").submit();
            },
            function () {
                alert("No se pudo obtener la ubicación o fue denegada.");
            }
        );
    } else {
        alert("Tu navegador no soporta geolocalización.");
    }
}
</script>