@{
    ViewData["Title"] = "Principal";
}


<main class="BotonInicio">
    <div class="BotonInicio">
    <a href='@Url.Action("CrearViaje", "Home", new { IdUsuario = 1 })'>Crear viaje</a>
    </div>
</main>