@{
    ViewData["Title"] = "Servicios";
    bool? estadoUltimoViaje = ViewBag.estadoUltimoViaje as bool?;
    int? idViaje = ViewBag.idViaje as int?;
}

<main>
    <section class="principal">
        <h1 class="title">Servicio de Emergencia</h1>

        @if (idViaje == null || estadoUltimoViaje == false)
        {
            <a href='@Url.Action("CrearViaje", "Home")' class="secondary-button">Crear viaje</a>
        }
        else
        {
            <a href='@Url.Action("FinalizarViaje", "Home", new { IdViaje = idViaje })' class="secondary-button">Finalizar viaje</a>
            <button type="button" onclick="pedirUbicacion()" class="primary-button">Enviar ubicación</button>

            <form id="formUbicacion" action="/Home/GuardarUbicacion" method="post">
                <input type="hidden" id="Latitud" name="Latitud" />
                <input type="hidden" id="Longitud" name="Longitud" />
                <input type="hidden" id="IdViaje" name="IdViaje" value="@idViaje" />
            </form>
        }
    </section>
</main>


<script>
function pedirUbicacion() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function (position) {
                const lat = position.coords.latitude.toString().replace('.', ',');
                const lon = position.coords.longitude.toString().replace('.', ',');
                document.getElementById("Latitud").value  = lat;
                document.getElementById("Longitud").value = lon;
                document.getElementById("formUbicacion").submit();
            },
            function () {
                alert("No se pudo obtener la ubicación o fue denegada.");
            }
        );
    } else {
        alert("Tu navegador no soporta geolocalización.");
    }
}
</script>