@{
    ViewData["Title"] = "Servicios";
    bool? estadoUltimoViaje = ViewBag.estadoUltimoViaje as bool?;
    int? idViaje = ViewBag.idViaje as int?;
}

<div class="BotonInicio">
   @if (idViaje == null || estadoUltimoViaje == false)
    {
        <a href='@Url.Action("CrearViaje", "Home")'>Crear viaje</a>
    }
    else
    {
        <a href='@Url.Action("FinalizarViaje", "Home", new { IdViaje = idViaje })'>Finalizar viaje</a>
        <button type="button" onclick="pedirUbicacion()">Enviar ubicación</button>

        <form id="formUbicacion" action="/Home/GuardarUbicacion" method="post">
            <input type="hidden" id="Latitud" name="Latitud" />
            <input type="hidden" id="Longitud" name="Longitud" />
            <input type="hidden" id="IdViaje" name="IdViaje" value="@idViaje" />
        </form>
    }
</div>

<script>
function pedirUbicacion() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function (position) {
                document.getElementById("Latitud").value = position.coords.latitude;
                document.getElementById("Longitud").value = position.coords.longitude;
                
                document.getElementById("IdViaje").value = '@idViaje';
                document.getElementById("formUbicacion").submit();
            },
            function () {
                alert("No se pudo obtener la ubicación o fue denegada.");
            }
        );
    } else {
        alert("Tu navegador no soporta geolocalización.");
    }
}
</script>